h1,h2,h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
    opacity: 100%;
    margin-right: 10px;
}

a:hover {
    opacity: 0;
}

body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}